:root {
	--bg-base: hsl(220, 15%, 10%);
	--bg-surface-1: hsl(220, 15%, 15%);
	--bg-surface-2: hsl(220, 15%, 20%);
	--bg-surface-3: hsl(220, 15%, 25%);

	--text-primary: hsl(220, 15%, 90%);
	--text-secondary: hsl(220, 15%, 70%);
	--text-tertiary: hsl(220, 15%, 50%);
	--text-quaternary: hsl(220, 15%, 30%);

	--gray-50: hsl(220, 10%, 90%);
	--gray-100: hsl(220, 10%, 80%);
	--gray-200: hsl(220, 10%, 70%);
	--gray-300: hsl(220, 10%, 60%);
	--gray-400: hsl(220, 10%, 50%);
	--gray-500: hsl(220, 10%, 40%);
	--gray-600: hsl(220, 10%, 30%);
	--gray-700: hsl(220, 10%, 20%);
	--gray-800: hsl(220, 10%, 15%);
	--gray-900: hsl(220, 10%, 10%);

	--blue-50: hsl(210, 100%, 95%);
	--blue-100: hsl(210, 100%, 85%);
	--blue-200: hsl(210, 100%, 75%);
	--blue-300: hsl(210, 100%, 65%);
	--blue-400: hsl(210, 100%, 55%);
	--blue-500: hsl(210, 100%, 45%);
	--blue-600: hsl(210, 100%, 35%);
	--blue-700: hsl(210, 100%, 25%);
	--blue-800: hsl(210, 100%, 15%);
	--blue-900: hsl(210, 100%, 10%);

	--red-50: hsl(0, 80%, 95%);
	--red-100: hsl(0, 80%, 85%);
	--red-200: hsl(0, 80%, 75%);
	--red-300: hsl(0, 80%, 65%);
	--red-400: hsl(0, 80%, 55%);
	--red-500: hsl(0, 80%, 45%);
	--red-600: hsl(0, 80%, 35%);
	--red-700: hsl(0, 80%, 25%);
	--red-800: hsl(0, 80%, 15%);
	--red-900: hsl(0, 80%, 10%);

	--green-50: hsl(120, 60%, 95%);
	--green-100: hsl(120, 60%, 85%);
	--green-200: hsl(120, 60%, 75%);
	--green-300: hsl(120, 60%, 65%);
	--green-400: hsl(120, 60%, 55%);
	--green-500: hsl(120, 60%, 45%);
	--green-600: hsl(120, 60%, 35%);
	--green-700: hsl(120, 60%, 25%);
	--green-800: hsl(120, 60%, 15%);
	--green-900: hsl(120, 60%, 10%);

	--yellow-50: hsl(45, 100%, 95%);
	--yellow-100: hsl(45, 100%, 85%);
	--yellow-200: hsl(45, 100%, 75%);
	--yellow-300: hsl(45, 100%, 65%);
	--yellow-400: hsl(45, 100%, 55%);
	--yellow-500: hsl(45, 100%, 45%);
	--yellow-600: hsl(45, 100%, 35%);
	--yellow-700: hsl(45, 100%, 25%);
	--yellow-800: hsl(45, 100%, 15%);
	--yellow-900: hsl(45, 100%, 10%);

	--orange-50: hsl(24, 100%, 95%);
	--orange-100: hsl(24, 100%, 90%);
	--orange-200: hsl(24, 100%, 80%);
	--orange-300: hsl(24, 100%, 70%);
	--orange-400: hsl(24, 100%, 60%);
	--orange-500: hsl(24, 100%, 50%);
	--orange-600: hsl(24, 100%, 45%);
	--orange-700: hsl(24, 100%, 40%);
	--orange-800: hsl(24, 100%, 30%);
	--orange-900: hsl(24, 100%, 20%);

	--color-delete: var(--red-400);
	--color-success: var(--green-400);
	--color-warning: var(--yellow-400);
	--color-info: var(--blue-400);

	--border-color-1: hsla(0 0% 67.8% / 0.3);
}
